.u-section-1 .u-sheet-1 {
  min-height: 485px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-1 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-5 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-6 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-7 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-7 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-8 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-8 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-9 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-9 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-10 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-10 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-item-11 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-11 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-11 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-12 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-12 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-12 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-accordion-item-13 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-13 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-13 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-13 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-14 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-14 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-14 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-14 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-14 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-15 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-15 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-15 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-15 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-15 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-16 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-16 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-16 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-16 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-16 {
  padding: 20px;
}

.u-section-1 .u-accordion-item-17 {
  font-weight: normal;
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-17 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-1 .u-icon-17 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-1 .u-accordion-pane-17 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-17 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}